<h4>String Interpolation</h4>
<p>{{ aString }}</p>
<p>{{ aNumber }}</p>
<hr />
<h4>Property Binding</h4>
<p [innerHTML]="aString"></p>
<div>
  <!--normaler input value ohne property und ohne angular spezifisch-->
  <input type="text" value="{{ aNumber }}" />
  <!--angular spezifisch mit property binding-->
  <input type="text" [value]="aNumber" />
</div>
<!-- class und style directive-->
<div
  [ngClass]="{ redBorder: attachClass }"
  [ngStyle]="{ 'background-color': 'blue' }"
>
  Text
</div>
<!--"''" string übergeben [nameDate] argument der @Input()-->
<app-property-binding [nameData]="'Selamunaleykum'"></app-property-binding>
<hr />
<h4>Event Binding</h4>
<button (click)="onClick($event)">Click Me</button>
<hr />
<h4>Own Event Binding</h4>
<!--clicked ist mein eigener event aString ist property von eltern component $event sind meine erzeugten daten-->
<app-event-binding (clicked)="aString = $event"></app-event-binding>
<hr />
<h4>Two-Way-Binding</h4>
<input type="text" [(ngModel)]="aString" />
<hr />
<h4>element im template zugreifen</h4>

<app-use-htmlelements>
  <p #paragraph>Irgendein text ist hier zu sehen</p>
</app-use-htmlelements>
