<header>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#">Rezeptbuch</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Einkaufsliste</a>
    </li>
    <li>
      <div class="dropdown open">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Dropdown button
        </button>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
          <li><a href="#">Speichern</a></li>
          <li><a href="#">Laden</a></li>
        </ul>
      </div>
    </li>
  </ul>
</header>
